@{
    ViewBag.Title = "Bài viết";
    Layout = "_Layout";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bài viết</li>
    </ol>
</nav>
<div class="row shadow-sm p-3 mb-5 bg-white rounded">
    <div class="col-md-4">
        <a href="@Url.Action("ThinkPad_E590", "A")"><img src="~/resource/image/ThinkPad-logo.webp" data-src="" class="img-fluid" alt="" width="640" height="360"></a>
    </div>
    <div class="col-md-8">
        <h2><a class="link-offset-2 link-underline-opacity-0 text-decoration-none" href="@Url.Action("ThinkPad_E590", "A")" style="color: var(--bs-body-color)">Review ThinkPad E590 sau 4 năm sử dụng</a></h2>
    </div>
</div>
<div class="row shadow-sm p-3 mb-5 bg-white rounded" id="accordion">
    <div class="col-md-4">
        <img src="~/resource/image/convert-temperature-icon.jpg" alt="" class="img-fluid"/>
    </div>
    <div class="col-md-8">
        <h2>Temperature converter</h2>
        <p>
            <!--<a href="#myCollapse" data-bs-toggle="collapse">Toggle Element</a>-->
            <button type="button" class="btn btn-danger ms-4" data-bs-toggle="collapse" data-bs-target="#myCollapse">Click to calculate!</button>
        </p>
    </div>
    <div class="collapse" id="myCollapse">
        <div class="col-md-8 float-end">
            <form action="" method="post" class="">
                <div class="row">
                    <div class="col">
                        <input type="number" class="form-control" name="nDegrees" value="">
                    </div>
                    <div class="col">
                        <select name="temperatureUnit" id="" class="form-select">
                            <option value="Fahrenheit">Fahrenheit</option>
                            <option value="Celsius">Celsius</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-primary" value="Convert now!" name="convert">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 float-end">
            @if (ViewBag.ResultWithUnitSymbol!= null)
            {
                <h2>@ViewBag.ResultWithUnitSymbol</h2>
            }
        </div>
    </div>
</div>
<!--
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
    </div>
</div>
-->
<!--
<div class="m-4">
    <p>
        Trigger Buttons HTML
        <a href="#myCollapse" data-bs-toggle="collapse">Toggle Element</a>
        <button type="button" class="btn btn-primary ms-4" data-bs-toggle="collapse" data-bs-target="#myCollapse">Toggle Element</button>
    </p>
    Collapsible Element HTML
    <div class="collapse show" id="myCollapse">
        <div class="card card-body">This is a simple example of showing and hiding specific element via data attributes. Click any trigger buttons to toggle this panel.</div>
    </div>
</div>
-->