@{
    ViewData["Title"] = "Bài viết";
}
<div class="row shadow-sm p-3 mb-5 bg-white rounded">
    <div class="col-md-4">
        <img src="https://devblogs.microsoft.com/dotnet/wp-content/uploads/sites/10/2023/03/asp-net-core-dotnet-8-preview-2-1024x576.png" data-src="https://devblogs.microsoft.com/dotnet/wp-content/uploads/sites/10/2023/03/asp-net-core-dotnet-8-preview-2-1024x576.png" class="img-fluid" alt="" width="640" height="360">
    </div>
    <div class="col-md-8">
        <header>
            <h2 class="entry-title">ASP.NET Core updates in .NET 8 Preview 2</h2>
        </header> 
    </div>
</div>

