@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Giới thiệu</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <img src="resource/gif/tumblr_f50494bc5811f9ed93096513dd7077ff_ed013a64_1280.gif" alt="" style="width: 100%">
        </div>
        <div class="col-lg">
            <p>Tôi xây dựng Website này phục vụ thú vui <strong>viết lách</strong> và <strong>dịch thuật</strong> của cá nhân <span><img src="resource/emoji/big_smile.webp" alt=""></span>.</p>
        </div>
    </div>
</div>

