@{
    ViewData["Title"] = "Bài dịch";
    Layout = "_Layout";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bài dịch</li>
    </ol>
</nav>
